<!-- <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()"> -->
    <div>
        <label for="username">Username</label>
        <input class="username" matInput placeholder="Enter Username" [formControl]='username' required>
        <small *ngIf="username.invalid && (username.dirty || username.touched)">
            Username is a mandatory field
        </small>
    </div>
    <div>
        <label for="password">Password</label>
        <input class="password" matInput type="password"  placeholder="Enter Password" [formControl]='password' required>
        <small *ngIf="username.invalid && (username.dirty || username.touched)">
        <small *ngIf="password.errors.required">
            Password is a mandatory field
        </small>
        <small *ngIf="password.errors.minlength">
            Password must have minimum 6 characters!!
        </small>
        </small>

    </div>    
        
    <div>
        <button (click)= "loginSubmit()"  type="submit" mat-button>Submit</button>
        <strong *ngIf="submitMessage" class="error-message">{{submitMessage}}</strong>
    </div>
